// Variables
@use 'variables';

// Bootstrap
@use '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

.slide-upward {
    transition: transform 1s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
}
