// Variables
@use 'variables';

// Bootstrap
@use '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// select2
@import '~select2/src/scss/core';

.view-mode-button {
    padding: 0.5rem;
    transition: background-color 0.25s linear, color 0.25s linear;
}

.view-mode-button:hover {
    background-color: orange;
    color: white;
}

.view-mode-button-active {
    background-color: orange;
    color: white;
}

.no-number-input-arrows {
    -webkit-appearance: none; /* Chrome, Safari */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

.cart-quantity-input {
    border: 1px solid #eceded;
    width: 100%;
    text-align: center;
    height: 3rem;
    border-radius: 0;
    overflow: hidden;
}
